<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>472076922540-2gm8snojea6djj4dn9ensup6e3466m9q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.472076922540-2gm8snojea6djj4dn9ensup6e3466m9q</string>
	<key>API_KEY</key>
	<string>AIzaSyAHxYnS4-B_M98ABIwrY9QnzRNd67WiRaY</string>
	<key>GCM_SENDER_ID</key>
	<string>472076922540</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tarakite</string>
	<key>PROJECT_ID</key>
	<string>tarakite-flutter-app-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>tarakite-flutter-app-dev.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:472076922540:ios:763d5c1e1aad5d2ec87909</string>
</dict>
</plist>