name: "[Release] Dev iOS"

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: macos-latest
    timeout-minutes: 45
    environment: dev

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup CI
        uses: ./.github/actions/setup

      - name: Restore Firebase config files
        run: |
          echo "${{ secrets.DEV_GOOGLESERVICE_INFO_PLIST_BASE64 }}" | base64 -d > ios/Runner/GoogleService-Info.plist

      - name: Restore dart-define config
        run: |
          echo "${{ secrets.DEV_DART_DEFINE_JSON_BASE64 }}" | base64 -d > dart_define.json

      - name: Setup temporary keychain
        run: |
          security create-keychain -p "" build.keychain
          security set-keychain-settings -lut 21600 build.keychain
          security default-keychain -s build.keychain
          security unlock-keychain -p "" build.keychain

      - name: Import Provisioning Profile
        run: |
          echo ${{ secrets.DEV_PROVISIONING_PROFILE_BASE64 }} | base64 --decode > profile.mobileprovision
          mkdir -p ~/Library/MobileDevice/Provisioning\ Profiles
          cp profile.mobileprovision ~/Library/MobileDevice/Provisioning\ Profiles/
          ls -l ~/Library/MobileDevice/Provisioning\ Profiles/
          security cms -D -i ~/Library/MobileDevice/Provisioning\ Profiles/profile.mobileprovision

      - name: Import Code-Signing Certificates
        run: |
          echo "${{ secrets.IOS_CERTIFICATES_P12_BASE64 }}" | base64 -d > certificates.p12
          security import certificates.p12 -k build.keychain -P "${{ secrets.IOS_CERTIFICATES_P12_PASSWORD }}" -A

      # 証明書の一覧を表示する。
      - name: List available certificates
        run: |
          security find-identity -v -p codesigning
          xcodebuild -version

      - name: Prepare Xcode build settings for Distribution
        run: |
          # ios/project.pbxproj を上書きする設定を Dart-Defines.xcconfig に書き込む。
          touch Dart-Defines.xcconfig
          echo "PROVISIONING_PROFILE_SPECIFIER = LaKiite Dev Distribution" >> Dart-Defines.xcconfig
          echo "CODE_SIGN_STYLE = Manual" >> Dart-Defines.xcconfig
          echo "DEVELOPMENT_TEAM = ${{ secrets.APPLE_TEAM_ID }}" >> Dart-Defines.xcconfig
          echo "CODE_SIGN_IDENTITY = Apple Distribution" >> Dart-Defines.xcconfig
          mv Dart-Defines.xcconfig ios/Flutter/

          # ios/ExportOptions.plist を DevExportOptions.plist からコピーして作成する。
          cp ios/DevExportOptions.plist ios/ExportOptions.plist

          # ios/project.pbxproj から関連する設定を削除する。
          sed -i '' '/PROVISIONING_PROFILE_SPECIFIER = /d' ios/Runner.xcodeproj/project.pbxproj
          sed -i '' '/CODE_SIGN_STYLE = /d' ios/Runner.xcodeproj/project.pbxproj
          sed -i '' '/DEVELOPMENT_TEAM = /d' ios/Runner.xcodeproj/project.pbxproj
          sed -i '' '/CODE_SIGN_IDENTITY = /d' ios/Runner.xcodeproj/project.pbxproj
          sed -i '' '/CODE_SIGN_IDENTITY\[sdk=iphoneos\*\] = /d' ios/Runner.xcodeproj/project.pbxproj

          # 最終的な Dart-Defines.xcconfig の内容を表示
          cat ios/Flutter/Dart-Defines.xcconfig

      - name: Calculate Build Number
        id: calculate_build_number
        run: |
          TOTAL_COMMITS=$(git rev-list --count HEAD)
          TOTAL_COMMITS=$(($TOTAL_COMMITS + 10000))  # オフセットとして一律で 10000 を加算する。
          echo "buildNumber=$TOTAL_COMMITS" >> $GITHUB_OUTPUT

      - name: flutter build ipa
        run: |
          flutter build ipa --release \
            --export-options-plist=ios/ExportOptions.plist \
            --dart-define-from-file="dart_define.json" \
            -t "lib/main.dart" \
            --build-name=$(grep 'version:' pubspec.yaml | cut -d ' ' -f 2 | cut -d '+' -f 1) \
            --build-number="${{ steps.calculate_build_number.outputs.buildNumber }}"

      - name: Get latest 10 commit messages
        run: echo "LATEST_COMMIT_MESSAGES=$(git log -n 10 --pretty=format:'%s' | tr '\n' '; ')" >> $GITHUB_ENV

      - name: Setup App Store Connect API Key
        run: |
          echo "${{ secrets.ASC_PRIVATE_KEY_P8_BASE64 }}" | base64 -d > AuthKey.p8

      - name: Upload to TestFlight
        run: |
          IPA_FILE=$(ls ./build/ios/ipa/*.ipa)
          xcrun altool --upload-app \
            -t ios \
            -f "$IPA_FILE" \
            --apiKey "${{ secrets.ASC_KEY_ID }}" \
            --apiIssuer "${{ secrets.ASC_ISSUER_ID }}" \
            --apiKeyFile AuthKey.p8
