name: '[Release] Prod Android'

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 45
    environment: prod

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup CI
        uses: ./.github/actions/setup

      - name: Install Firebase CLI
        run: npm install -g firebase-tools

      - name: Setup Java
        uses: actions/setup-java@v3.9.0
        with:
          distribution: 'zulu'
          java-version: '17.x'

      - name: Accept Android SDK licenses and install NDK
        run: |
          yes | $ANDROID_SDK_ROOT/cmdline-tools/latest/bin/sdkmanager --licenses || true
          $ANDROID_SDK_ROOT/cmdline-tools/latest/bin/sdkmanager "ndk;28.0.12674087"

      - name: Restore Firebase config files
        run: |
          echo "${{ secrets.PROD_GOOGLE_SERVICES_JSON_BASE64 }}" | base64 -d > android/app/src/prod/google-services.json
          echo "${{ secrets.PROD_GOOGLESERVICE_INFO_PLIST_BASE64 }}" | base64 -d > ios/Runner/GoogleService-Info-Prod.plist
          echo "${{ secrets.PROD_FIREBASE_OPTIONS_DART_BASE64 }}" | base64 -d > lib/firebase_options.dart

      - name: Restore Android signing keystore
        run: |
          echo "${{ secrets.ANDROID_UPLOAD_KEYSTORE_JKS_BASE64 }}" | base64 -d > android/upload-keystore.jks

      - name: Restore dart-define config
        run: |
          echo "${{ secrets.PROD_DART_DEFINE_JSON_BASE64 }}" | base64 -d > dart_define.json

      - name: Calculate Build Number
        id: calculate_build_number
        run: |
          TOTAL_COMMITS=$(git rev-list --count HEAD)
          TOTAL_COMMITS=$(($TOTAL_COMMITS + 10000))  # オフセットとして一律で 10000 を加算する。
          echo "buildNumber=$TOTAL_COMMITS" >> $GITHUB_OUTPUT

      - name: flutter build appbundle
        env:
          ANDROID_UPLOAD_KEYSTORE_PATH: ${{ github.workspace }}/android/upload-keystore.jks
          ANDROID_UPLOAD_KEYSTORE_PASSWORD: ${{ secrets.ANDROID_UPLOAD_KEYSTORE_PASSWORD }}
          ANDROID_UPLOAD_KEY_ALIAS: ${{ secrets.ANDROID_UPLOAD_KEY_ALIAS }}
          ANDROID_UPLOAD_KEY_PASSWORD: ${{ secrets.ANDROID_UPLOAD_KEY_PASSWORD }}
        run: |
          flutter build appbundle --release \
            --flavor prod \
            --target-platform android-arm,android-arm64,android-x64 \
            --dart-define-from-file="dart_define.json" \
            -t "lib/main.dart" \
            --build-name=$(grep 'version:' pubspec.yaml | cut -d ' ' -f 2 | cut -d '+' -f 1) \
            --build-number="${{ steps.calculate_build_number.outputs.buildNumber }}"

      - name: Get latest 10 commit messages
        run: echo "LATEST_COMMIT_MESSAGES=$(git log -n 10 --pretty=format:'%s' | tr '\n' '; ')" >> $GITHUB_ENV

      # 事前に Firebase プロジェクトの Project Settings > Integrations から Google Play Console と連携しておく必要がある。
      - name: Deploy to Firebase App Distribution
        env:
          PROD_FIREBASE_SERVICE_ACCOUNT_KEY_BASE64: ${{ secrets.PROD_FIREBASE_SERVICE_ACCOUNT_KEY_BASE64 }}
        run: |
          echo $PROD_FIREBASE_SERVICE_ACCOUNT_KEY_BASE64 | base64 -d > /tmp/prod_firebase_service_account_key.json
          export GOOGLE_APPLICATION_CREDENTIALS=/tmp/prod_firebase_service_account_key.json
          firebase use --project ${{ secrets.PROD_FIREBASE_PROJECT_ID }}
          firebase appdistribution:distribute ./build/app/outputs/bundle/prodRelease/app-prod-release.aab \
            --app ${{ secrets.PROD_FIREBASE_ANDROID_APP_ID }} \
            --groups internal-testers  \
            --release-notes "${LATEST_COMMIT_MESSAGES}"

      - name: Decode Google Play Console API Service Account Key
        run: echo "${{ secrets.GOOGLE_PLAY_CONSOLE_API_SERVICE_ACCOUNT_KEY_JSON_BASE64 }}" | base64 --decode > /tmp/google_play_console_api_service_account_key.json

      - name: Deploy to Play Store (Internal)
        uses: r0adkll/upload-google-play@v1
        with:
          serviceAccountJson: /tmp/google_play_console_api_service_account_key.json
          packageName: ${{ secrets.PROD_ANDROID_PACKAGE_NAME }}
          releaseFiles: build/app/outputs/bundle/prodRelease/app-prod-release.aab
          track: internal
